@font-face {
  font-family: 'helvetica_cebold';
  src: local('helvetica_cebold'),
       url('../fonts/helvetica-ce-bold_22457-webfont.woff2') format('woff2'),
       url('../fonts/helvetica-ce-bold_22457-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
  