* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  position: absolute;
  width: 100%;
}
img {
  display: block;
  width: 99%;
  height: auto;
}
.image-gallery {
  margin: 0 auto;
}
.photo-active {
  outline: 2px solid #d4d4d4;
}
